-# Our Edit link from previous example:
= link_to 'Edit info', edit_lines_path(@line)
-# This Delete link will not really be a link, but a form:
= link_to 'Delete', lines_path(@line), :method => :delete