<!-- Main Lines View -->
<!DOCTYPE html>
<html lang="en">

<body>

<h2>NYC Train Lines</h2>

<div class = "container">
  <%= grid(@lines_grid, show_filters: :always) do |g|
#specifies table for lines information    
  g.row_attributes do |version|
    if version
      {style: 'background-color: #000025;'}
    end
  end

  g.blank_slate  do
    "There are no lines."
  end
  
  g.column name: 'Train', attribute: 'train', custom_filter: :auto do |line|
    line.train
  end

  g.column name: 'Color', attribute: 'color', custom_filter: :auto do |line|
    line.color
  end
  
  g.column name: 'Borough', attribute: 'borough', custom_filter: :auto do |line|
    line.borough
  end
  
  g.column do |line|
    link_to('More Info', line_path(line))
  end
 
end -%>

</div>
</body>

</html>
