%h3 Stops:

%li 8th Avenue 14th Street

%input{:type=>"text", :required => true}
%button.button Confirm Location

%li 6th Avenue 14th Street

%input{:type=>"text", :required => true}
%button.button Confirm Location

%li 14th Street Union Square

%input{:type=>"text", :required => true}
%button.button Confirm Location

%li 3rd Avenue 14th Street

%input{:type=>"text", :required => true}
%button.button Confirm Location

%li 1st Avenue 14th Street

%input{:type=>"text", :required => true}
%button.button Confirm Location
