-# Our Edit link from previous example:
= link_to 'Edit Train Trip', edit_trips_path(@trip)
-# This Delete link will not really be a link, but a form:
= link_to 'Delete Train Trip', trips_path(@trip), :method => :delete