<link rel="stylesheet" type="text/css" href="application.css">
<h1> URBAN PANCAKE</h1>
<src="app/assets/images/Slide1.jpg" alt="logo not here!" height="42" width="42">
<h2> NYC Train Trips</h2>

%table#trips
  %thead
    %tr
      %th Passenger
      %th Train
      %th Trip Time
    %tbody
      
      - @trips.each do |trip|
        %tr
        %td= trip.passenger_name
        %td= trip.train
        %td= trip.timestamps
        
%p= link_to 'Add New Trip', '/trips/new/newtrip'
