<link rel="stylesheet" type="text/css" href="application.css">

= image_tag("/assets/logo2.jpg", size: "400x300")
    
%h1 URBAN PANCAKE

%p{:id => "welcome"}= 'We aim to help provide safe travel home for city dwellers by facilitating travel together.'