<!DOCTYPE html>
<html lang="en">

<head>
    
</head>

<body>

<%=image_tag("logo2.jpg", size: "400x300")%>
</body>

<p id = "welcome">We aim to help provide a safe journey home for city dwellers by facilitating travel together.</p>