/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require mousetrap
 *= require_tree .
 *= require_self
 
 */
  
body {
  background-color: #000025!important;
  margin: 30px auto;
  color: #fff!important;
  text-align: center;
  font-family: 'Barlow', sans-serif!important;
}
input, select, textarea{
  color: #000000;
  font-family: 'Barlow', sans-serif!important;

}

textarea:focus, input:focus {
    color: #000000;
        font-family: 'Barlow', sans-serif!important;

}
h1{
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif!important;

}
h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif!important;

}
h3 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif!important;

}
footer {


   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   margin-top: 1rem;
	 margin-bottom: 1rem;
	 font-family: 'Barlow', sans-serif!important;

}
ul {
  list-style-type: none;
  text-align: center;
  font-family: 'Barlow', sans-serif!important;

}
li{
  padding-right: 45px;
  text-align: center;
  font-family: 'Barlow', sans-serif!important;

}

#linestops{
  text-transform: none!important;
}

#traindetails{
  text-decoration: none!important;
}

#linedescribe{
  font-size: 25px;
  font-family: 'Courgette', cursive;
  text-decoration: none!important;
}

#traindetails{
  font-size: 30px;
  text-decoration: none!important;
  
}

#description{
  font-size: 50px;
  text-transform: none!important;
  text-decoration: underline;
  
}
#details{
  font-size: 50px;
  text-transform: none!important;
  text-decoration: underline;
}

table {
  color: #ffffff;
  margin: 0px auto;
  font-size: 16px;
  font-weight: 100;
}
button {
  color: black;
  font-family: 'Barlow', sans-serif!important;

}



#submit_tag {
  color: #000000;
    font-family: 'Barlow', sans-serif!important;

}
.flash.notice {
  color: #F00;
  background-color: #ffe
}
.link {
  color: #a8dae2;
  font-size: 30px;
  font-weight: 300;
  text-decoration: none;
  font-family: 'Barlow', sans-serif!important;

}

.link:hover {
  color: #FFF;
  text-decoration: none;
}

.traindetails{
  text-align: left;
}

#welcome{
  color:#FFF;
  font-size: 24px;
  font-family: 'Barlow', sans-serif!important;
  padding-top: 20px;
}
.flash {
  font-size: 24px;
  font-family: 'Calligraffitti', cursive;
  color: red;
}
  
  
.navbar.navbar-default {
  background-color: #000025;
  font-size: 24px;
  border-top: 1px solid #000025;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid #000025;
  border-right: 1px solid #000025;
  padding-top: 50px;
  font-family: 'Barlow', sans-serif!important;

}
.navbar.navbar-default .navbar-brand {
  color: #a8dae2;
  font-size: 60px;
  padding-bottom: 30px;
 font-family: 'Permanent Marker', cursive!important;
}
.navbar.navbar-default .navbar-brand:hover,
.navbar.navbar-default .navbar-brand:focus {
  color: red;
  font-size: 60px;

}
.navbar.navbar-default .navbar-text {
  color: #a8dae2;
  text-align:center;
}
.navbar.navbar-default .navbar-nav > li > a {
  color: #a8dae2;
}
.navbar.navbar-default .navbar-nav > li > a:hover,
.navbar.navbar-default .navbar-nav > li > a:focus {
  color: red;
}
.navbar.navbar-default .navbar-nav > .active > a{
  background-color: white;
  
}
.navbar.navbar-default .navbar-nav > .active > a:hover,
.navbar.navbar-default .navbar-nav > .active > a:focus {
  color: #a8dae2;
  background-color: #000025;
}

.navbar.navbar-default .navbar-nav > .open > a,
.navbar.navbar-default .navbar-nav > .open > a:hover,
.navbar.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #000025;
}
.navbar.navbar-default .navbar-toggle {
  border-color: #000025;
}
.navbar.navbar-default .navbar-toggle:hover,
.navbar.navbar-default .navbar-toggle:focus {
  background-color: #000025;
}
.navbar.navbar-default .navbar-toggle .icon-bar {
  background-color: #292929;
}
.navbar.navbar-default .navbar-collapse,
.navbar.navbar-default .navbar-form {
  border:none;
}
.navbar.navbar-default .navbar-link {
  color: #292929;
  font-family: 'Barlow', sans-serif!important;

}
.navbar.navbar-default .navbar-link:hover {
  color: red;
}


.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.nav.navbar-nav > navbar-left {
  font-family: 'Barlow', sans-serif!important;
  font-size: 11px;
}

.navbar-brand {
  padding-top: 15px;
}
.navbar-brand>img {
  height: auto;
  width: auto;
}

.banner {
	width: 100%;
	/*background-color: #c3d7df;*/
}

.banner-inner {
	max-width: 1100px;
	margin: 0 auto;
}
@media (min-width:768px) and (max-width:991px){
  .container.navbar-container {
     width:100%;
     padding:0;
  }
.current_page{
  text-transform: uppercase;
}
}



